.card { 
    padding: 20px;
    border-radius: 15px;
}

.card-description {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.card-description .card {
    border: none;
    opacity: 0.8;
    width: 100%;
    height: 300px;
    justify-content: center;
}

.hero .card h3 {
    min-height: 67px;
}

.hero {
    background: linear-gradient(0deg, rgba(10, 37, 99, 0.4), rgba(10, 36, 99, 0.4)), url('/assets/images/bg-image.png') no-repeat center center;
    background-size: cover;
}

.description {
    font-size: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.consult-section img {
    border: 1px solid #0000002d;
    box-shadow: 10px 10px 7px rgb(0 0 0 / 6%);
}

.consult-section .col-lg-6:last-child {
    padding-left: 30px;
}

.specialized-section {
    padding: 50px 20px 70px 20px;
    background-color: #f8f8f8;
}

.specialized-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.specialized-description {
    margin-bottom: 40px;
}

.specialized-card i {
    font-size: 40px;
    margin-bottom: 20px;
}

.specialized-card p,
.specialized-description p {
    margin-bottom: 20px;
}

.specialized-card p {
    min-height: 128px;
}

.specialized-description h2 {
    margin-bottom: 20px;
}

.f-group {
    display: flex;
    gap: 20px;
}

.inner-group {
    width: 100%;
}

/* ABOUT START */
.inpatient {
    background-color: #f8f8f8;
}

.profile i {
    font-size: 90px;
}

.profile {
    align-content: center;
    height: 200px;
    text-align: center;
    background-color: #e1f0ff;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
}

.specialists ul {
    margin-bottom: 0;
}

.specialists ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

/* .doctorSwiper {
    -webkit-mask-image: linear-gradient(
        to right,
        #00000054 0%,
        black 8%,
        black 92%,
        #00000054 100%
    );
    mask-image: linear-gradient(
        to right,
        #00000054 0%,
        black 8%,
        black 92%,
        #00000054 100%
    );
} */

.doctorSwiper .swiper-wrapper {
    transition-timing-function: linear !important;
}

.swiper {
    margin-top: 20px;
}

.contact-form {
    padding: 10px 20px 20px 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
}

.contact-form label {
    margin: 10px 0;
}

.contact-form textarea {
    margin-bottom: 10px;
}

.inpatient .contact {
    margin-top: 30px;
}

#inpatient .contact p {
    margin-bottom: 20px;
}
/* ABOUT END */

/* MOBILE START */
@media screen and (max-width: 1024px) {
    .hero .card h3 {
        min-height: unset;
    }

    .description {
        max-width: 100%;
    }

    .hero .card p {
        margin-bottom: 0 !important;
    }

    .card-description {
        flex-direction: column;
        margin-top: 30px;
    }

    .card.bg-primary {
        height: unset;
    }

    .consult-section img {
        margin-bottom: 20px;
    }

    .consult-section .col-lg-6:last-child {
        padding-left: 15px;
    }

    .specialized-card {
        display: block;
    }

    .specialized-card .card {
        margin-bottom: 20px;
    }

    .specialized-card p {
        min-height: auto;
    }

    .specialized-card .card:last-child {
        margin-bottom: 0;
    }

    .specialized-description {
        margin-bottom: 20px;
    }

    .specialized-card .card h3 {
        min-height: auto!important;
    }

    .swiper {
        margin-top: 0;
    }

    .f-group {
        flex-direction: column;
        gap: 0;
    }

    .inpatient .contact {
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .specialized-card .card h3 {
        min-height: 67px;
    }
}

@media screen and (max-width: 980px) {
/* .doctorSwiper {
    -webkit-mask-image: none;
    mask-image: none;
} */
}
/* MOBILE END */