@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root{
    --primary: #155edb!important;
    --secondary: #0a2463!important;
    --tertiary: #57e0e4!important;
}

.text-primary {
    color: var(--primary)!important;
}

.text-secondary {
    color: var(--secondary)!important;
}

.text-tertiary {
    color: var(--tertiary)!important;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-secondary {
    background-color: var(--secondary)!important;
}

.bg-tertiary {
    background-color: var(--tertiary)!important;
}

a {
    color: inherit;
    text-decoration: auto;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, body, button, a, span, li, ul {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}

.fs-25 {
    font-size: 25px;
}

.fs-40 {
    font-size: 40px;
}

h3, h4, h5 {
    font-weight: 600!important;
}

button {
    font-weight: 500!important;
}

p, label {
    font-size: 18px;
    line-height: 32px;
}

.p-width {
    max-width: 900px;
    margin: 0 auto 20px auto;
}

img {
    width: 100%;
}

section {
    padding: 70px 20px;
}

.secondary-hover:hover {
    background-color: var(--secondary)!important;
}

.secondary-hover {
    transition: background-color 0.3s ease;
}

/* HEADER START */
header {
    background: #fff;
    top: 0;
    z-index: 1000;
    position: sticky;
    padding: 5px 20px;
    box-shadow: 0 20px 15px -30px #00000080;
}

header img {
    max-width: 300px;
}

.button {
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
}

.logo img {
    max-width: 230px;
}

.menu-links {
    gap: 50px;
}
/* HEADER END */

/* FOOTER START */
footer {
    padding: 50px 20px 0 20px;
}

footer img {
    max-width: 270px;
    margin-bottom: 20px;
}

.social-links i {
    font-size: 30px;
}
/* FOOTER END */

/* MOBILE START */
@media screen and (max-width: 1024px) {
    h1, h2, h3, h4, h5, p, span {
        text-align: left!important;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    button {
        width: 100%;
        max-width: 100%;
    }

    section {
        padding: 30px 5px;
    }
    
    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }

    h3 {
        font-size: 18px;
        line-height: 27px;
    }

    h4 {
        font-size: 18px;
        line-height: 27px;
    }

    h5 {
        font-size: 16px;
        line-height: 25px;
    }

    p, label {
        font-size: 14px!important;
        margin-bottom: 15px!important;
        line-height: 26px;
    }

    header {
        padding: 10px 5px;
    }

    header .navbar-toggler {
        width: auto;
    }

    .menu-links {
        gap: 10px!important;
    }

    footer {
        padding: 30px 5px 0 5px;
    }

    footer div.col-lg-6 p {
        text-align: left !important;
    }

    header img {
        max-width: 200px;
    }
}

@media screen and (max-width: 1400px) {
    header li {
        font-size: 14px!important;
    }
    
    header img {
        max-width: 215px!important;
    }

    .menu-links {
        gap: 25px;
    }

    .button {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 1200px) {
    /* header li {
        font-size: 14px!important;
    }
    
    header img {
        max-width: 215px!important;
    }

    .menu-links {
        gap: 25px;
    }

    .button {
        padding: 20px 30px;
    } */

    .container {
        max-width: 100%;
    }

    .p-width {
        max-width: 100%;
    }
}
/* MOBILE END */